/* App General Styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dark Theme and General Styling */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
}

a {
  color: #bb86fc;
  text-decoration: none;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #1f1f1f;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: #bb86fc;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #e0e0e0;
}

/* Project Grid Styling */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

/* Project Card Styling */
.project-card-link {
  text-decoration: none;
  color: inherit;
}

.project-card {
  background-color: #1f1f1f;
  padding: 0;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.project-card img {
  width: 100%;
  height: 250px; /* Adjusted height for better visibility */
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-card h3 {
  margin: 1rem 0 0.5rem 0;
}

.project-card p {
  margin: 0 0 1rem 0;
}

/* Project Page Styling */
.project-page {
  padding: 2rem;
}

/* Footer Styling */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f1f1f;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Additional hover effect for links */
a:hover {
  color: #e0e0e0;
}
